################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/FinalProject/.vs
/FinalProject/FinalProject/bin/Debug/netcoreapp2.1
/FinalProject/src/CY.Core/bin/Debug/netcoreapp2.1
/FinalProject/src/CY.Core/obj
/FinalProject/FinalProject/obj
/FinalProject/src/CY.Core/CY.Core.csproj
/FinalProject/src/CY.Core/Const/ConnectionString.cs
/FinalProject/src/CY.Application/bin/Debug/netcoreapp2.1
/FinalProject/src/CY.Application/obj/Debug/netcoreapp2.1
/FinalProject/src/CY.Application/obj
